### Build and Temp Files ###
.gradle/
build/
bin/
out/
target/
.temp/
.cache/

### Java and Compilation ###
*.class
*.jar
*.war
*.ear
*.db
*.mv.db
*.trace.db

### Specific Exceptions ###
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
!.idea/runConfigurations/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### System Files ###
.DS_Store
Thumbs.db